
.portal-btn {
    background-color: rgba(66, 133, 244, 0.5);
}

.portal-btn:hover {
    background-color: rgba(234, 67, 53, 0.5);
}

.brand-blue {
    color: #4285F4;
}

.brand-red {
    color: #EA4335 !important;
}

a {
    color: #EA4335;
    text-decoration: none;
    background-color: transparent;
}

.cd .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 16px;
}

.showModal {
    width: 100%;
    z-index: 10;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 64px;
    display: none;
}

.showModal .card {
    border-radius: 0;
    padding: 0;
}

.showModal .card .card-body {
    padding: 32px;
}

.showModal .card .card-header, h4 {
    /*background-color: #4285f4;
    color: white !important;
    text-align: center;
    font-size: 30px;
    border-radius: 0;
    */

}

.cs-text-shadow {
    text-shadow: 1px 1px 0 #444
}

.cs-text-shadow-white {
    text-shadow: 1px 1px 0 #ddd
}

.bg-brand-blue {
    background-color: #4285F4 !important;
}

.bg-brand-blue:hover {
    background-color: #EA4335 !important;
}

.bg-brand-red {
    background-color: #EA4335 !important;
}


.showModal .card h6 {
    color: rgba(66, 133, 244, 0.66) !important;

}

.w3-animate-right {
    position: relative;
    -webkit-animation: animateright 0.4s;
    animation: animateright 0.4s
}


.btn-primary {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #4285f4;
    border-color: #2176bd;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #3490dc;
    border-color: #4285f4;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.5);
}

.btn-primary:hover,
.btn-primary.hover {
    color: #fff;
    background-color: #ea4335;
    border-color: #ea4335;
    box-shadow: 0 0 0 0.2rem rgba(234, 67, 53, 0.5);
}

.header-cards h5 {
    font-size: 13px !important;
    font-weight: 500 !important;
}

.header-cards .h2 {
    font-size: 25px !important;;

}

/*
#main-menu-navigation {
    background-image: url("dashboard/img/sidebar-9.png");
    background-size: contain;
}
#main-menu-navigation li{
    color: white;
}
#main-menu-navigation li a{
    color: white;
}
#main-menu-navigation li ul {
    background-color: transparent;
}*/
@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

.auto-sliding-bg {
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.cs-card-2, .w3-example {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}

.cs-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.cs-card-8 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.cs-card-12 {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important
}

.cs-card-16 {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important
}

.cs-card-24 {
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important
}

.date {
    font-size: 23px;
    line-height: 35px;
    color: #004b79;
    text-align: left;
}


/*
Colors are two:
google(light tone):
red - #EA4335
blue - #4285F4

pepsi(darker tone)
red -#E32934
blue-#146EB4/#004883/#326bba
#3d7de4
*/

.cs-heading {
    color: #4285F4;
    font-size: 24px !important;
    text-shadow: 1px 1px 0 #ddd;
}

.text-red {
    color: #EA4335 !important;
}

.text-blue {
    color: #4285F4 !important;
}

.dashboard-bg {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 500px;
    background-size: contain;
    background-position: center top;
}
.cs-hidden{
    display: none!important;
    visibility: hidden;
}
img {
    background-color: white !important;
}

#accordionExample span{
    color: #3f80ea;
}


ol#assetList li{
    padding: 8px 4px;
}